html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
}

body {
    /* background: url('https://tcdn.kaishustory.com/kstory/activity_flow/image/f5980754-cd0b-4c3b-93b9-c2bc1ee78756_info_w=2560_h=1600_s=297693.jpeg')
        no-repeat top center;
    background-size: cover; */
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    background-repeat: no-repeat;
    color: #eee;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
